@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: hsl(0, 0%, 95%);

}

main {
    display: flex;
}

section {
    padding: 0 40px;
}

.section-1 {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: hsl(31, 77%, 52%);
}

.section-2 {
    background-color: hsl(184, 100%, 22%);
}

.section-3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

img {
    margin-top: 2rem;
    width: 50px;
}

h1 {
    font-family: Big Shoulders Display, sans-serif;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.932);
}

p {
    font-family: Lexend Deca, sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 23px;
    width: 23ch;
    font-size: 12px;
}

button {
    font-size: 12px;
    border: 1px solid hsla(0, 0%, 100%, 0.932);
    ;
    font-family: Lexend Deca, sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.section-1 button {
    color: hsl(31, 77%, 52%);
    background-color: hsla(0, 0%, 100%, 0.932);
}

.section-1 button:hover {
    color: hsla(0, 0%, 100%, 0.932);
    background-color: hsl(31, 77%, 52%);
}

.section-2 button {
    color: hsl(184, 100%, 22%);
    background-color: hsla(0, 0%, 100%, 0.932);
}

.section-2 button:hover {
    color: hsla(0, 0%, 100%, 0.932);
    background-color: hsl(184, 100%, 22%);
}

.section-3 button {
    color: hsl(179, 100%, 13%);
    background-color: hsla(0, 0%, 100%, 0.932);
}

.section-3 button:hover {
    color: hsla(0, 0%, 100%, 0.932);
    background-color: hsl(179, 100%, 13%);
}